<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3><a href="https://www.kaggle.com/uciml/pima-indians-diabetes-database">데이터 수집</a></h3>
<h3>피마 인디언 당뇨병 데이터 세트 </h3>
<table class="table">
    <thead>
      <tr class="danger">
        <th>No. </th>
        <th>피쳐(features)</th>
        <th>의미</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <td>1. </td>
        <td>Pregnancies</td>
        <td>임신횟수</td>
      </tr>
      <tr class="warning">
        <td>2. </td>
        <td></td>
        <td></td>
        <td><a href="/move/blood"> 혈중 지방농도 체크</a></td>
      </tr>
      <tr >
        <td>3. </td>
        <td>Danger</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr class="warning">
        <td>4. </td>
        <td>Info</td>
        <td>Dooley</td>
        <td><a href="/move/blood"> 피마 지역 원주민의 Type-2 당뇨병 예측 </a></td>
      </tr>
      <tr >
        <td>5. </td>
        <td>Warning</td>
        <td>Refs</td>
        <td>bo@example.com</td>
      </tr>
      <tr class="warning">
        <td>6. </td>
        <td>Active</td>
        <td>Activeson</td>
        <td>act@example.com</td>
      </tr>
    </tbody>
  </table>
</body>
</html>